.contactItem {
display: flex;
align-items: center;
gap: 16px;
}
.deleteBtn {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.deleteBtn:hover {
    background-color: #09AB9B;
}